@import url('../../../index.scss');

.navBarBox {
  display: flex;
  position: fixed;
  width: 100%;
  font-size: 2em;
  background-color: var(--nav-background);
  z-index: 300;
  height: 52px;
  box-shadow: 0 0 2px var(--black-white);
  &__logo {
    a {
      font-family: 'Passion One', sans-serif;
      padding: 5px 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &--icon {
      margin-left: 0.2em;
      transform: rotate(10deg);
      color: var(--greenYellow);
      animation: shake 2s ease-in-out infinite alternate-reverse;
    }

    p {
      font-size: 1.2em;
      letter-spacing: 2px;
      background: var(--logo);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.arrowUp {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 90%;
  right: 2%;
  font-size: 2em;
  background-color: var(--card-background);
  color: greenyellow;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s, background-color 0.3s;
}
.arrowUp:hover {
  background-color: var(--card-background-hover);
}
.isVisible {
  opacity: 1;
}
.isNotVisible {
  opacity: 0;
}

@media only screen and (max-width: 1024px) {
  .logo {
    font-family: 'Passion One', sans-serif;
    font-size: 2em;
    padding: 2px 5px;

    p {
      font-size: 0.9em;
      letter-spacing: 2px;
      color: var(--color);
    }
  }
  .arrowUp {
    top: 85%;
    right: 2%;
    font-size: 1.2em;
    padding: 4px;
  }
}
