.errorComponent {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    color: rgb(248, 63, 63);
    font-size: 4em;
  }
  p {
    padding: 10px 20px;
    font-size: 1.6em;
  }
}
@media only screen and (max-width: 1024px) {
  .errorComponent {
    height: 200px;
    text-align: center;
  
    &__icon {
      color: rgb(248, 63, 63);
      font-size: 4em;
    }
    p {
      padding: 0px 10px;
      font-size: 1em;
    }
  }
}