.detailWrapper {
  position: relative;
  top: 52px;
  background-color: var(--background-color);
  font-family: 'Bai Jamjuree', sans-serif;
  color: var(--color);
  // height: 10000px;
  width: 100%;
  min-height: 800px;
  overflow: hidden;
}
