.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  h2 {
    position: relative;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: left;
    margin-bottom: 3em;
  }
  h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    border-bottom: 1px solid greenyellow;
    width: 100%;
  }
}
.wrapper {
  display: flex;
}
.tabsBox {
  display: flex;
  flex-direction: column;
  width: 300px;

  &__icon {
    font-size: 1.2em;
    transition: font-size 0.3s, color 0.3s;
  }
  button {
    background-color: var(--background-color);
    color: var(--color);
    border: none;
    padding: 10px 20px;
    width: 200px;
    text-align-last: left;
    margin-top: 5px;
    cursor: pointer;
    transition: width 0.3s, letter-spacing 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bai Jamjuree', sans-serif;
    &.active {
      width: 220px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  button:hover {
    letter-spacing: 1px;
  }
}
.formBox {
  width: 30%;
  position: relative;
  margin-left: 2em;
  left: 30%;
  transform: translate(-50%);
}
.activeIcon {
  color: var(--greenYellow);
  font-size: 1.4em;
}
@media only screen and (max-width: 1024px) {
  .container {
    margin-top: 30px;

    h2 {
      font-size: 1.2em;
      margin-bottom: 1em;
      width: 100%;
    }
  }
  .wrapper {
    flex-direction: column;
  }
  .tabsBox {
    margin-bottom: 1em;

    &__icon {
      font-size: 1.4em;
    }
    button {
      padding: 5px 10px;
      width: 70%;
      &.active {
        width: 80%;
      }
    }
  }
  .formBox {
    width: 100%;
    margin-left: 0em;
    left: 0%;
    transform: translate(0%);
  }
  
}
