.container {
  display: flex;
  flex-direction: column;
  position: relative;

  &____blocTtabs {
    display: flex;
    margin-top: 2em;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Passion One', sans-serif;
      padding: 10px 15px;
      font-size: 1.2em;
      outline: none;
      border: none;
      background-color: var(--background-color);
      color: var(--color);
      width: 150px;
      cursor: pointer;
      letter-spacing: 1px;
      border: 1px solid var(--background-color-hover);
      transition: box-shadow 0.3s, letter-spacing 0.3s, letter-spacing 0.3s,
        width 0.3s, background-color 0.3s;
      &.activeTab {
        background-color: var(--background-color-hover);
        color: var(--greenYellow);
        border: none;
        width: 200px;
      }
    }
    &--icons {
      margin-left: 10px;
    }
    button:hover {
      letter-spacing: 2px;
    }
  }
  &__contentTabs {
    // position: relative;
  }
}
.content {
  display: none;
}
.activeContent {
  display: block;
  background-color: var(--background-color-hover);
  padding: 10px 5px;
  min-height: 100vh;
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
    top: 5%;
    left: 0%;
    transform: translate(0%, 0%);
    // padding: 5px;
  }
  .activeContent {
    margin-bottom: 2em;
  }
}
