.nav {
  position: relative;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 100;
  font-family: 'Bai Jamjuree', sans-serif;
  &__container {
    position: fixed;
    right: 0%;
    top: 52px;
    transform: translateY(-100%);
    color: var(--color);
    background-color: var(--background-color-menu);
    transition: transform 0.3s;
    box-shadow: 0 0 2px 1px greenyellow;
  }
  &__buttons {
    text-align: center;
    padding: 10px 20px;
    a,
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
      font-size: 15px;
      font-weight: bold;

      border: none;
      border-radius: 2px;
      transition: letter-spacing 0.3s;
      background: var(--background-color-hover);
      color: var(--color);
      width: 180px;
      cursor: pointer;
      letter-spacing: 1px;
    }
    a {
      margin-bottom: 0.5em;
    }
    a:hover,
    button:hover {
      letter-spacing: 2px;
    }
    a:hover &--icon,
    button:hover &--icon {
      transform: translateX(10%);
    }

    &--icon {
      margin-left: 0.2em;
      font-size: 1.5em;
      color: var(--greenYellow);
      transform: translateX(0%);
      transition: color 0.3s, transform 0.3s;
    }
  }
}
.active {
  transform: translate(0);
}
.arrowBox {
  position: absolute;
  font-size: 2.2em;
  right: 2%;
  bottom: -46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  background-color: var(--background-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  &__icon {
    transition: color 0.3s;
    color: var(--color);
    transform: rotateX(180deg);
    transition: transform 0.3s, color 0.3s;
    animation: arrowDown 2s ease-in infinite alternate-reverse;
  }
}
.arrowBox:hover .arrowBox__icon {
  color: var(--greenYellow-hover);
}
.arrowRotate {
  transform: rotateX(0deg);
  animation: none;
}
@keyframes arrowDown {
  to {
    transform: rotateX(180deg) translateY(-10px);
  }
}
@keyframes grow {
  to {
    width: width + 5px;
  }
}
@media only screen and (max-width: 1024px) {
  .nav {
    &__container {
      position: fixed;
      right: 0%;
    }
    &__buttons {
      button {
        margin-bottom: 0.5em;
      }

      &--icon {
        margin-left: 0.3em;
        font-size: 1.2em;
      }
    }
  }
  .active {
    transform: translate(0);
  }
  .arrowBox {
    font-size: 1.4em;
    right: 1%;
    bottom: -32px;

    width: 50px;
  }
  .arrowRotate {
    transform: rotateX(0deg);
  }
}
