.wishContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  padding: 15px;
  h2 {
    position: relative;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: left;
    margin: 2em 0;
  }
  h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    border-bottom: 1px solid var(--greenYellow);
    width: 100%;
  }
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 50%;
  transform: translate(-50%);

  &__cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
  }
}

.gameCard {
  position: relative;
  background-color: black;
  transition: box-shadow 0.3s;
  height: auto;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  &__heart {
    position: absolute;
    right: 5%;
    top: 2%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    z-index: 50;
  }
  img {
    height: 100%;
    width: 100%;
    opacity: 0.7;
  }
  &__name {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 100;
    padding: 15px;
    font-family: 'Bai Jamjuree', sans-serif;
    opacity: 0;
    transition: opacity 0.3s;
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
      color: white;
      transition: color 0.3s;
    }
  }

  a:hover {
    color: var(--blue);
  }
}
.gameCard:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  .gameCard__name {
    opacity: 1;
  }
}

@media only screen and (max-width: 1224px) {
  .container {
    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media only screen and (max-width: 730px) {
  .wishContainer {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container {
    &__cards {
      position: relative;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      width: 80%;
      left: 50%;
      transform: translate(-50%);
    }
  }
  .gameCard {
    margin: 30px 0px 0px 0px;
    width: 90%;
  }
}
