.wrapper {
  top: 0;
  position: relative;
  background-color: var(--background-color);

  &__title {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    border-top-right-radius: 5px;
    opacity: 0;
    animation: show 1s forwards linear;
    color: var(--color);
    h2 {
      padding: 10px 20px;
      letter-spacing: 1px;
      font-size: 1.8em;
      color: var(--color);
      z-index: 60;

      span {
        position: relative;
        font-weight: bold;
        margin-left: 0.5em;
        color: var(--orange);
      }
    }
  }
}
.rectangleBox {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  &__dot {
    margin: 10px 5px;
    width: 30px;
    height: 10px;
    background-color: rgb(173, 255, 47, 0.2);
    cursor: pointer;
    transition: 0.3s;
  }
  &__dot:hover {
    background-color: rgb(173, 255, 47, 0.5);
  }
}
.active {
  background-color: greenyellow;
}
.spinnerContainer {
  margin-top: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #fff;
  height: 800px;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__img {
    &--top {
      position: absolute;
      width: 100%;
      z-index: 50;
      top: -10px;
      animation: show 0.2s forwards linear;
      
    }
    &--bottom {
      position: absolute;
      width: 100%;
      z-index: 50;
      bottom: 0;
      transform: rotate(180deg);
      animation: show 0.2s forwards linear;
    }
  }

  &__shadow {
    position: absolute;
    backdrop-filter: blur(10px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
  }
  &__carouselBox {
    position: relative;
    z-index: 20;
    width: 60%;
  }

  &__preBtn,
  &__nextBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    padding: 20px;
    align-items: center;
    font-size: 3em;
    transition: color 0.3s;
    cursor: pointer;
    z-index: 20;
  }
  &__preBtn:hover,
  &__nextBtn:hover {
    color: var(--greenYellow);
  }

  &__nextBtn {
    right: -7%;
  }
  &__preBtn {
    left: -7%;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width: 737px) and (max-width: 1024px) {
  .wrapper {
    margin-top: 72px;
  }
  .container {
    height: 600px;
    &__img {
      &--top {
        height: 30px;
      }
      &--bottom {
        height: 30px;
      }
    }
    &__carouselBox {
      width: 90%;
    }

    &__preBtn:hover,
    &__nextBtn:hover {
      color: var(--color);
    }

    &__nextBtn {
      right: -8%;
    }
    &__preBtn {
      left: -8%;
    }
  }
}

@media only screen and (max-width: 736px) {
  .wrapper {
    margin-top: 72px;
    &__title {
      width: 100%;

      h2 {
        padding: 5px;
        letter-spacing: 1px;
        font-size: 1em;
        color: var(--color);
        z-index: 20;
        span {
          margin-left: 0.2em;
          color: orange;
        }
      }
      p {
        font-size: 0.8em;
      }
    }
  }

  .container {
    height: 500px;
    &__img {
      &--top {
        height: 30px;
      }
      &--bottom {
        height: 30px;
      }
    }

    &__carouselBox {
      width: 80%;
    }

    &__preBtn,
    &__nextBtn {
      padding: 14px;
      font-size: 1.6em;
    }

    &__nextBtn {
      right: -14%;
    }
    &__preBtn {
      left: -14%;
    }
    &__preBtn:hover,
    &__nextBtn:hover {
      color: var(--color);
    }
  }
}
