.nav {
  position: relative;
  top: 52px;
  right: 0;
  z-index: 105;
  ::-webkit-scrollbar {
    width: 0.4em;
    background-color: var(--color);
  }
  ::-webkit-scrollbar-thumb {
    background-color: greenyellow;
    border-radius: 5px;
  }
  &__container {
    height: 100vh;
    position: fixed;
    transform: translate(-100%);
    color: var(--color);
    background-color: var(--background-color-menu);
    transition: transform 0.3s;
    box-shadow: 0 0 2px 0.2px greenyellow;
    h3 {
      padding: 10px 20px;
      margin: 0.5em;
      text-transform: uppercase;
      font-size: 1.2em;
    }
    &--categorys {
      overflow-x: hidden;
      overflow-y: scroll;
      height: 350px;
    }
    &--categorys,
    &--platforms {
      padding: 10px 20px;

      button {
        padding: 5px 10px;
        width: 100%;
        font-family: 'Passion One', sans-serif;
        background-color: rgba(0, 0, 0, 0.2);
        // border: 1px solid var(--color);
        border: none;
        color: var(--color);
        margin-bottom: 0.3em;
        font-size: 1em;
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      button:hover {
        background-color: var(--color);
        color: var(--background-color);
      }
      &--platforms {
        overflow: visible;
      }
    }
  }

  .activeButton {
    button {
      color: greenyellow;
    }
    button:hover {
      background-color: var(--color);
      color: var(--background-color);
    }
  }
}
.active {
  transform: translate(0);
}
.arrow {
  position: absolute;
  font-size: 1.4em;
  right: -33px;
  top: 0%;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 5px;
  height: 5%;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;

  border-bottom-right-radius: 20px;
}
.arrow:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.arrowRotate {
  transform: rotateY(180deg);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 20px;
}
@media only screen and (max-width: 1024px) {
  .nav {
    top: 45px;

    &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        margin-top: 2em;

        font-size: 1.1em;
      }
      &--categorys,
      &--platforms {
        padding: 5px 10px;
        height: 350px;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 70%;

        button {
          border: none;
          color: var(--color);
          margin-bottom: 0.4em;
        }
      }
      &--platforms {
        overflow: auto;
      }
    }
  }
  .active {
    transform: translate(0);
  }
  .arrow {
    font-size: 1.6em;
    right: -35px;
    top: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 5px;
    height: 7%;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
  }
  .arrow:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .arrowRotate {
    transform: rotateY(180deg);
    right: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
}
