.nav {
  position: relative;
  top: 52px;
  right: 0;
  z-index: 105;
  font-family: 'Bai Jamjuree', sans-serif;
  ::-webkit-scrollbar {
    width: 0.4em;
    background-color: var(--color);
  }
  ::-webkit-scrollbar-thumb {
    background-color: greenyellow;
    border-radius: 5px;
  }
  &__filter {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 2em;
    top: 52px;
    background-color: var(--color);
    color: black;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
    cursor: pointer;
    span {
      background-color: var(--background-color);
      height: 2px;
      margin: 3px;
    }
    span:nth-of-type(1) {
      width: 30px;
    }
    span:nth-of-type(2) {
      width: 15px;
      transition: width 0.2s;
    }
    span:nth-of-type(3) {
      width: 5px;
      transition: width 0.3s;
    }
  }
  &__filter:hover {
    background-color: var(--background-color-hover);
    span {
      width: 30px;
    }
  }
  &__container {
    height: 100vh;
    position: fixed;
    transform: translate(-100%);
    color: var(--color);
    background-color: var(--background-color-menu);
    transition: transform 0.3s;
    box-shadow: 0 0 2px 0.2px greenyellow;
    padding-top: 20px;
    h3 {
      padding: 10px 20px;
      margin: 0.5em;
      text-transform: uppercase;
      font-size: 1.2em;
    }
    &--close {
      position: absolute;
      display: flex;
      top: 0px;
      right: 0;
      padding: 10px;
      cursor: pointer;
      span {
        position: relative;
        background-color: var(--color);
        height: 25px;
        width: 2px;
        transition: transform 0.3s, background-color 0.3s;
      }
      span:nth-of-type(1) {
        left: -3px;
        top: 1px;
        transform: rotate(-45deg);
      }
      span:nth-of-type(2) {
        right: 5px;
        transform: rotate(45deg);
      }
    }
    &--close:hover {
      span {
        background-color: var(--greenYellow);
      }
      span:nth-of-type(1) {
        transform: rotate(45deg);
      }
      span:nth-of-type(2) {
        transform: rotate(-45deg);
      }
    }
    &--categorys {
      overflow-x: hidden;
      overflow-y: scroll;
      height: 350px;
    }
    &--categorys,
    &--platforms {
      padding: 10px 20px;

      button {
        padding: 5px 10px;
        width: 100%;
        font-family: 'Passion One', sans-serif;
        background-color: rgba(0, 0, 0, 0.2);
        border: none;
        color: var(--color);
        margin-bottom: 0.3em;
        font-size: 1em;
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      button:hover {
        background-color: var(--color);
        color: var(--background-color);
      }
      &--platforms {
        overflow: visible;
      }
    }
  }

  .activeButton {
    button {
      color: greenyellow;
    }
    button:hover {
      background-color: var(--color);
      color: var(--background-color);
    }
  }
}
.active {
  transform: translate(0);
}

@media only screen and (max-width: 1024px) {
  .nav {
    top: 45px;
    &__arrow {
      font-size: 1.4em;
    }

    &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-y: scroll;
      padding-top: 0px;
      h3 {
        margin-top: 2.5em;
        text-align: center;
        font-size: 1.2em;
        padding: 5px 5px;
      }
      &--close {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 2.5em;
        cursor: pointer;
        transition: color 0.3s;
      }
      &--categorys,
      &--platforms {
        padding: 5px 10px;
        height: 350px;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 80%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        button {
          border: none;
          color: var(--color);
          margin-bottom: 0.4em;
        }
      }
      &--platforms {
        overflow: auto;
      }
    }
    &__container::-webkit-scrollbar {
      display: none;
    }
  }
  .active {
    transform: translate(0);
  }

  .arrow:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
