.wrapper {
  top: 0;
  position: relative;
  &__title {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
    width: 80%;
    padding: 10px 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    border-top-right-radius: 5px;
    h2 {
      padding: 10px 20px;
      letter-spacing: 1px;
      font-size: 1.4em;
      color: var(--background-color);
      z-index: 20;
      span {
        position: relative;
        font-weight: bold;
        margin-left: 0.5em;
        color: var(--orange);
      }
    }
  }
  &__title::before {
    content: '';
    position: absolute;
    background-color: var(--background-color);
    width: 147px;
    height: 23px;
    right: -31px;
    top: 23px;
    transform: rotate(45deg) translateY(-50%);
  }
}

.spinnerContainer {
  margin-top: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #fff;
  height: 800px;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__shadow {
    position: absolute;
    backdrop-filter: blur(10px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
  }
  &__carouselBox {
    position: relative;
    z-index: 20;
    width: 60%;
  }

  &__preBtn,
  &__nextBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    padding: 20px;
    align-items: center;
    font-size: 3em;
    transition: color 0.3s;
    cursor: pointer;
  }
  &__preBtn:hover,
  &__nextBtn:hover {
    color: var(--greenYellow);
  }

  &__nextBtn {
    right: -7%;
  }
  &__preBtn {
    left: -7%;
  }
  &__cardsContainer {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &--card {
      display: flex;
      justify-content: center;
      align-items: center;

      flex-shrink: 0;
      width: calc(100% / 3);
      height: 450px;

      margin: 0.2em 0;

      img {
        box-shadow: 0 0 5px var(--color);
        border-radius: 10px;
        height: 100%;
        width: 90%;
      }
    }
  }
  &__cardsContainer::-webkit-scrollbar {
    display: none;
  }
}
@media only screen and (min-width: 737px) and (max-width: 1024px) {
  .container {
    background-color: #fff;
    height: 400px;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__shadow {
      position: absolute;
      backdrop-filter: blur(10px);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0, 0.5);
      z-index: 1;
    }
    &__carouselBox {
      position: relative;
      z-index: 20;
      width: 90%;
    }

    &__preBtn,
    &__nextBtn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--greenYellow);
      border: none;
      padding: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
      transition: background-color 0.3s;
      cursor: pointer;
    }
    &__preBtn:hover,
    &__nextBtn:hover {
      background-color: rgb(134, 212, 17);
    }

    &__nextBtn {
      background-color: greenyellow;

      right: -5%;
    }
    &__preBtn {
      left: -5%;
    }
    &__cardsContainer {
      width: 100%;
      overflow-x: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &--card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        width: 50%;
        flex-shrink: 0;
        width: calc(100% / 2);
        height: 350px;
        img {
          border-radius: 5px;
          height: 100%;
        }
      }
    }
    &__cardsContainer::-webkit-scrollbar {
      display: none;
    }
  }
}

@media only screen and (max-width: 736px) {
  .wrapper {
    margin-top: 72px;
    &__title {
      width: 90%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      h2 {
        padding: 5px;
        letter-spacing: 1px;
        font-size: 1em;
        color: var(--background-color);
        z-index: 20;
        span {
          position: relative;
          font-weight: bold;
          margin-left: 0.5em;
          color: orange;
        }
      }
    }
    &__title::before {
      width: 147px;
      height: 23px;
      right: -53px;
      top: 23px;
    }
  }
  .spinnerContainer {
    margin-top: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    background-color: #fff;
    height: 400px;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__shadow {
      position: absolute;
      backdrop-filter: blur(10px);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0, 0.5);
      z-index: 1;
    }
    &__carouselBox {
      position: relative;
      z-index: 20;
      width: 50%;
    }

    &__preBtn,
    &__nextBtn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--greenYellow);
      border: none;
      padding: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
      transition: background-color 0.3s;
      cursor: pointer;
    }
    &__preBtn:hover,
    &__nextBtn:hover {
      background-color: rgb(134, 212, 17);
    }

    &__nextBtn {
      background-color: greenyellow;

      right: -5%;
    }
    &__preBtn {
      left: -5%;
    }
    &__cardsContainer {
      width: 100%;
      overflow-x: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &--card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        width: 50%;
        flex-shrink: 0;
        width: calc(100%);
        height: 350px;
        img {
          border-radius: 5px;
          height: 100%;
        }
      }
    }
    &__cardsContainer::-webkit-scrollbar {
      display: none;
    }
  }
}
