.section {
  position: relative;
  top: 52px;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: 'Bai Jamjuree', sans-serif;
  &__title {
    margin-top: 2em;
    text-transform: uppercase;
    text-align: center;
  }
  &__noResult {
    text-align: center;
  }
}
.gamesContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1224px;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-color-menu);
}
@media only screen and (max-width: 1024px) {
  .gamesContainer {
    max-width: 100%;
    left: 0%;
    transform: translateX(0%);
  }
}
