.wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1400px;
  font-family: 'Bai Jamjuree', sans-serif;
  height: auto;
  margin-bottom: 2em;
  height: auto;
  margin-top: 72px;
}

.spinerBox,
.errorBox,
.emptyBox {
  position: relative;
  width: 100%;
  text-align: center;
  left: 50%;
  
  min-height: 100vh;
}
.toolBarBox {
  position: relative;
  margin-top: 100px;
  margin-bottom: 1em;
}

.gamesContainer {
  position: relative;
  width: 100%;
  height: auto;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  background-color: var(--glass);
  margin-top: 15px;
}
.noMoreGames {
  text-align: center;
  margin: 2em 0;
  color: var(--blue);
  font-size: 2em;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    margin-top: 100px;
  }
  .toolBarBox {
    margin-bottom: 2em;
  }
  .spinerBox,
  .errorBox {
    position: relative;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
  }
  .gamesContainer {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
