.inputBox {
  position: relative;
  p {
    color: rgb(247, 99, 99);
    font-weight: bold;
    text-align: left;
    margin-bottom: 8px;
    font-size: 0.9em;
  }
}
.eyeBox {
  position: absolute;
  top: 50%;
  right: 2%;
}
