.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9em;
  text-shadow: none;

  &__icon {
    padding-right: 10px;
    transition: transform 0.3s, color 0.3s;
    cursor: pointer;
    color: var(--color);
  }
  &__icon:hover {
    color: var(--greenYellow);
    transform: scale(1.1) rotate(15deg);
  }
  &__inputBox {
    position: relative;
    padding: 10px 20px;
    input {
      padding: 10px 5px;
      width: 0px;
      opacity: 0;
      border: none;
      color: var(--black-white);
      background-color: var(--background-color);
      transition: width 0.3s;
    }
    input::placeholder {
      color: var(--greenYellow);
    }
  }
  &__results {
    position: absolute;
    display: flex;
    overflow-y: auto;
    margin-top: 10px;
    background-color: var(--background-color);
    padding: 10px 5px;
    width: 400px;
    max-height: 400px;
  }
  ::-webkit-scrollbar {
    width: 0.3em;
    background-color: var(--color);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--greenYellow);

    border-radius: 10px;
  }
  ul {
    width: 100%;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1em;
    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      img {
        padding: 5px 10px;
        height: 102px;
        width: 82px;
      }
      a {
        font-size: 0.8em;
        color: var(--color);
        position: relative;
        p {
          position: relative;
          letter-spacing: 1px;
        }
        p::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          border-bottom: 1px solid var(--greenYellow);
          transition: width 0.3s;
        }
        p:hover::after {
          width: 100%;
        }
      }
    }
    li:nth-of-type(even) {
      background-color: var(--game-card-bgc);
    }
    a:nth-child(2) {
      padding: 10px 0px;
    }
  }
}
.hide {
  input {
    width: 0px;
    opacity: 0;
  }
}
.show {
  input {
    width: 400px;
    opacity: 1;
  }
}
.searchLoading {
  color: var(--greenYellow);
  text-shadow: none;
  p {
    font-size: 0.7em;
  }
  span {
    opacity: 0;
    padding-left: 2px;

    animation: showDot 0.8s infinite linear;
  }
  span:nth-child(2) {
    animation-delay: 0.1s;
  }
  span:nth-child(3) {
    animation-delay: 0.2s;
  }
}

.searchError {
  text-align: center;
  p {
    text-shadow: none;
    font-size: 20px;
    color: rgb(250, 113, 113);
  }
}
.noResults {
  color: var(--greenYellow);
  text-shadow: none;
  font-size: 0.7em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  max-height: 1600px;
  width: 100%;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.575);
}

@media only screen and (max-width: 1024px) {
  .search {
    background-color: aqua;
    &__icon {
      position: absolute;
      padding-right: 20px;
      right: 0;
      font-size: 1.5em;
    }
    &__icon:hover {
      color: var(--greenYellow);
      transform: scale(1) rotate(0deg);
    }
    &__inputBox {
      position: absolute;
      padding: 0px 0px;
      width: 100%;
      transform: translate(100%);
      right: 0;
      top: 52px;
      input {
        height: 50px;
        outline: none;
        color: var(--greenYellow);
        font-size: 20px;
        width: 100%;
        border-bottom: 2px solid var(--color);
      }
    }
    &__results {
      margin-top: 0px;
      padding: 0px 0px;
      border-bottom: 2px solid var(--color);
      width: 100%;
      height: 55vh;
    }

    ul {
      li {
        img {
          padding: 5px;
        }
        a {
          font-size: 0.7em;
        }
      }
    }
  }
  .hide {
    transform: translate(100%);
    input {
      width: 0%;
      opacity: 0;
    }
  }
  .show {
    transform: translate(0%);
    input {
      width: 100%;
      opacity: 1;
    }
  }
  .searchLoading {
    padding: 10px 5px;
  }

  .searchError {
    padding: 10px 5px;
  }
  .noResults {
    color: var(--greenYellow);
    text-shadow: none;
    font-size: 0.7em;
  }
}
@keyframes showDot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
