.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9em;
  text-shadow: none;

  &__icon {
    padding-right: 10px;
    transition: transform 0.3s, color 0.3s;
    cursor: pointer;
    color: var(--color);
  }
  &__icon:hover {
    color: var(--greenYellow);
    transform: scale(1.1) rotate(15deg);
  }
  &__inputBox {
    position: relative;
    padding: 10px 20px;
    input {
      padding: 10px 5px;
      width: 0px;
      opacity: 0;
      border: none;
      color: greenyellow;
      background-color: var(--color);
      transition: width 0.3s;
    }
    input::placeholder {
      color: greenyellow;
    }
  }
  &__results {
    position: absolute;
    display: flex;
    overflow-y: auto;
    margin-top: 10px;
    background-color: var(--background-color);
    padding: 10px 5px;
    width: 400px;
    max-height: 400px;
  }
  ::-webkit-scrollbar {
    width: 0.4em;
    background-color: var(--color);
  }
  ::-webkit-scrollbar-thumb {
    background-color: greenyellow;
    border-radius: 5px;
  }
  ul {
    width: 100%;
    li {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      // padding: 10px 0px;
      width: 100%;
      img {
        padding: 5px 10px;
        height: 102px;
        width: 82px;
      }
      a {
        font-size: 0.8em;
        color: var(--color);
        position: relative;
        p {
          position: relative;
          letter-spacing: 1px;
          // padding: 10px 0px;
        }
        p::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          border-bottom: 1px solid var(--greenYellow);
          transition: width 0.3s;
        }
        p:hover::after {
          width: 100%;
        }
      }
    }
    li:nth-of-type(even) {
      background-color: var(--background-color-hover);
    }
    a:nth-child(2) {
      padding: 10px 0px;
    }
  }
}
.hide {
  input {
    width: 0px;
    opacity: 0;
  }
}
.show {
  input {
    width: 400px;
    opacity: 1;
  }
}
.searchLoading {
  color: var(--greenYellow);
  text-shadow: none;
  font-size: 0.9em;
  span {
    opacity: 0;
    padding-left: 2px;

    animation: showDot 0.8s infinite linear;
  }
  span:nth-child(2) {
    animation-delay: 0.1s;
  }
  span:nth-child(3) {
    animation-delay: 0.2s;
  }
}

@keyframes showDot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.searchError {
  p {
    text-shadow: none;
    font-size: 20px;
    color: red;
  }
}
.noResults {
  color: var(--greenYellow);
  text-shadow: none;
  font-size: 0.7em;
}
