.card {
  display: flex;
  padding: 10px 5px;
  width: 100%;
  border-bottom: 1px solid var(--greenYellow);
  a {
    color: var(--color);
  }
  &__img {
    width: 150px;
    height: 180px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &__descContainer {
    padding: 10px 20px;
  }
  &__geners {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    p {
      margin-right: 10px;
    }
    span {
      background-color: rgb(102, 102, 102);
      color: white;
      border-radius: 2px;
      padding: 5px 10px;
      margin-right: 5px;
    }
  }
  &__summary {
    width: 50%;
    a {
      color: var(--blue);
    }
  }
}
.card:nth-of-type(even) {
  background-color: var(--game-card-bgc);
}
.card:last-of-type {
  border-bottom: none;
}
@media only screen and (max-width: 1024px) {
  .card {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;

    a {
      color: var(--color);
    }
    &__img {
      width: 180px;
      height: 170px;
    }
    &__descContainer {
      padding: 5px 0px;
      h2 {
        font-size: 1.1em;
      }
    }
    &__geners {
      margin: 5px 0;
      p {
        margin-right: 5px;
        font-size: 1em;
      }
      span {
        padding: 5px 5px;
        margin-right: 2px;
        font-size: 0.8em;
      }
    }
    &__summary {
      width: 100%;
      a {
        color: var(--blue);
      }
    }
  }
}
