*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
:root {
  --background-color: rgb(68, 73, 80);
  --background-color-hover: rgb(79, 82, 90);
  --logo-hover: rgba(255, 255, 255, 0.4);
  --color: rgb(236, 236, 241);
  --nav-border: rgba(217, 217, 217, 0.3);
  --rotateY: 15deg;
  --rotateX: 15deg;
  --reset: 0.3s;
  --slider-padding: 5rem;
  --nav-background: black;
  --black-white: white;
  --orange: orange;
  --margin: 0.5rem;
  --blue: #25b8fe;
  --blue-hover: #089de2;
  --card-background: rgb(236, 236, 241, 0.4);
  --div-loader-first: rgba(68, 73, 80, 0.95);
  --div-loader-second: rgb(187, 187, 187, 0.4);
}
.dark {
  --background-color: rgb(68, 73, 80);
  --background-color-hover: rgb(218, 214, 214);
  --background-color-menu: rgb(73, 77, 83);
  --color: rgb(236, 236, 241);
  --nav-background: black;
  --black-white: white;
  --logo: rgba(122, 216, 15, 0.986);
  --greenYellow: greenyellow;
  --orange: orange;
  --card-background: rgb(236, 236, 241, 0.4);
  --card-background-hover: rgb(236, 236, 241, 0.5);
  --game-card-bgc: rgb(78, 83, 90);
  --glass: rgba(255, 255, 255, 0.1);
  --platforms-card-bgc: rgb(126, 124, 124);
  --card-background: rgb(236, 236, 241, 0.4);
  --div-loader-first: rgba(68, 73, 80, 0.95);
  --div-loader-second: rgb(187, 187, 187, 0.4);
  --track_active_color: rgba(27, 27, 27, 0.4);
}
.light {
  --background-color: rgb(241, 236, 236);
  --background-color-hover: rgb(79, 82, 90);
  --color: rgba(52, 53, 65);
  --background-color-menu: rgb(242, 242, 242);
  --nav-background: rgb(252, 251, 251);
  --black-white: black;
  --logo: rgb(92, 145, 14);
  --greenYellow: rgb(92, 145, 14);
  --orange: orange;
  --card-background: rgb(52, 53, 65, 0.6);
  --card-background-hover: rgba(52, 53, 65, 0.7);
  --game-card-bgc: rgb(235, 230, 230);
  --glass: rgba(0, 0, 0, 0.1);
  --platforms-card-bgc: rgb(190, 190, 190);
  --div-loader-first: rgba(241, 236, 236);
  --div-loader-second: rgba(173 174 175);
  --track_active_color: rgba(216, 216, 16, 0.8);
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  font-family: 'Bai Jamjuree', 'Oswald', 'Passion One', cursive sans-serif;
  background-color: var(--background-color);
  color: var(--color);
  scroll-behavior: smooth;
}
.showUp {
  animation: slider-left-to-right linear forwards 0.5s;
}

.showUp::after {
  animation: slider-left-to-right ease-in-out forwards 1s 0.5s;
}
@keyframes slider-left-to-right {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
