.loadingContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-color: var(--background-color-hover);
  margin: 10px 0;
  &__title {
    position: absolute;
    width: 40%;
    height: 50px;
    left: 40px;
    top: 0;
    margin-top: 2em;
    border-radius: 5px;
    overflow: hidden;
  }
  &__emptyCard {
    margin-top: 3em;
    height: 400px;
    width: 550px;
    z-index: 10;
    border-radius: 5px;
    overflow: hidden;
  }
  &__emptyCard:nth-child(2) {
    position: absolute;
    height: 350px;
    width: 400px;
    right: 15%;
    z-index: 1;
  }
  &__emptyCard:nth-child(3) {
    position: absolute;
    width: 400px;
    height: 350px;
    left: 15%;
    z-index: 1;
  }
}
