.cardsContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &--card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: calc(100% / 3);
    height: 450px;
    cursor: pointer;
    overflow: hidden;

    a {
      position: relative;
      height: 100%;
      width: 90%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &-rating {
      position: absolute;
      top: 2%;
      right: 2%;
      background-color: var(--greenYellow);
      padding: 20px;
      border-radius: 50%;
      color: black;
      font-weight: bold;
      opacity: 0;
      transition: opacity 0.5s;
      z-index: 100;
    }
    &-name {
      position: absolute;
      background-color: var(--greenYellow);
      z-index: 10;
      color: black;
      width: 90%;
      bottom: 0%;
      height: 50px;
      padding: 0px 0px;
      font-weight: bold;
      text-align: center;
      font-size: 1.1em;
      opacity: 0;
      transition: opacity 0.3s, height 0.5s, transform 0.3s;
      overflow: hidden;
      transform: translateY(100%);
      p,
      a {
        position: relative;
        top: 30%;
      }
      a {
        color: var(--blue);
        transition: color 0.3s;
      }
      a:hover {
        color: black;
      }
    }
  }
  &--card:hover &--card-rating,
  &--card:hover .shadow,
  &--card:hover &--card-name {
    opacity: 1;
  }
  &--card:hover &--card-name {
    height: 150px;
    transform: translateY(0%);
  }
}

.cardsContainer::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .cardsContainer {
    &--card {
      height: 350px;
      img {
        position: relative;
        border-radius: 0px;
        height: 100%;
        width: 90%;
      }
      &-rating {
        padding: 15px;
        opacity: 1;
      }
      &-name {
        background-color: var(--greenYellow);
        height: 10px;
        padding: 50px 0px;
        opacity: 1;
      }
    }
  }
  .shadow {
    height: 0%;
    width: 0%;
  }
}
@media only screen and (min-width: 737px) and (max-width: 1024px) {
  .cardsContainer {
    &--card {
      width: calc(100% / 2);
    }
  }
}
@media only screen and (max-width: 736px) {
  .cardsContainer {
    &--card {
      width: calc(100%);
    }
  }
}
