.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 500px;
  font-family: 'Bai Jamjuree', sans-serif;
  &__arrowRight,
  &__arrowLeft {
    position: absolute;
    font-size: 2em;
    color: white;
    top: 50%;
    z-index: 20;

    cursor: pointer;
    transition: font-size 0.3s;
  }
  &__arrowRight:hover,
  &__arrowLeft:hover {
    font-size: 2.2em;
  }
  &__arrowRight {
    right: 2%;
  }
  &__arrowLeft {
    left: 2%;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    height: 300px;

    &__arrowRight,
    &__arrowLeft {
      top: 100%;
    }
    &__arrowRight {
      right: 15%;
    }
    &__arrowLeft {
      left: 15%;
    }
  }
 
}
