.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 400px;

  &__arrowRight,
  &__arrowLeft {
    position: absolute;
    font-size: 2em;
    color: white;
    top: 50%;
    z-index: 20;

    cursor: pointer;
    transition: font-size 0.3s;
  }
  &__arrowRight:hover,
  &__arrowLeft:hover {
    font-size: 2.2em;
  }
  &__arrowRight {
    right: 2%;
  }
  &__arrowLeft {
    left: 2%;
  }
}
.banner {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s, opacity 0.3s;

  &__rec {
    z-index: 20;
    position: absolute;
    bottom: 18px;
    right: -58px;
    background-color: var(--orange);
    padding: 20px 5px;
    width: 200px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    transform: rotate(-45deg);
  }
  &__rec::before {
    position: absolute;
    content: '';
    left: 0;
    background-color: var(--orange);
    height: 100px;
    width: 200px;
    z-index: -1;
  }
  &__content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    overflow: hidden;
    height: 100%;
    width: 100%;

    &--infoBox {
      &-rating {
        position: absolute;
        top: 20px;
        right: 2%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: greenyellow;
          color: black;
          font-weight: bold;
          padding: 2px;
          font-size: 1em;
          border-radius: 50%;
        }
        span {
          background-color: rgba(0, 0, 0, 0.4);
          padding: 10px 20px;
          font-size: 0.7em;
          font-weight: bold;
          margin-top: 0.2em;
        }
      }
      &-name {
        position: absolute;
        min-width: 150px;
        top: 50%;
        left: 32%;
        padding: 10px 0px;
        p {
          text-transform: uppercase;
          color: rgb(236, 236, 241);
          font-size: 2.2em;
          font-weight: bold;
        }
        p::after {
          content: '';
          position: absolute;
          left: 2%;
          bottom: 0;
          border-bottom: 2px solid greenyellow;
          width: 100%;
        }
        button {
          position: absolute;
          bottom: -25px;
          background-color: transparent;
          border: none;
          opacity: 0;
          transition: opacity 0.3s;
          a {
            font-size: 1.2em;
            transition: color 0.3s;
            color: greenyellow;
          }
        }
        button:hover a {
          color: rgb(135, 211, 21);
        }
      }
    }
  }

  &__shadow {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    z-index: 1;
    backdrop-filter: blur(5px);
    transition: backdrop-filter 0.3s;
  }
}

.banner:hover .banner__content--infoBox-name button {
  opacity: 1;
}
.banner:hover .banner__shadow {
  backdrop-filter: blur(10px);
}

.activeBaner {
  opacity: 1;
  z-index: 10;
}
.inactiveBanner {
  opacity: 0;
}
.dotBox {
  position: absolute;
  display: flex;
  bottom: 0%;
  cursor: pointer;
  transition: color 0.3s;
  border-radius: 10px;
  z-index: 20;
  div {
    padding: 10px 10px;
    font-size: 1.2em;
  }
}
.activeDot {
  color: greenyellow;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    height: 300px;

    &__arrowRight,
    &__arrowLeft {
      top: 100%;
    }
    &__arrowRight {
      right: 15%;
    }
    &__arrowLeft {
      left: 15%;
    }
  }
  .banner {
    height: 350px;

    &__rec {
      bottom: 12px;
      right: -42px;
      width: 134px;
      font-size: 10px;
      padding: 13px 4px;
    }
    &__rec::before {
      position: absolute;
      content: '';
      left: 0;
      background-color: var(--orange);
      height: 50px;
      width: 200px;
      z-index: -1;
    }

    &__content {
      &--infoBox {
        &-rating {
          position: absolute;
          top: 40px;
          right: 2%;

          align-items: flex-end;

          p {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: greenyellow;
            color: black;
            font-weight: bold;
            padding: 2px;
            font-size: 1em;
            border-radius: 50%;
          }
          span {
            background-color: rgba(0, 0, 0, 0.8);
            padding: 5px;
            font-size: 0.6em;
          }
        }
        &-name {
          top: 60%;
          left: 10%;
          padding: 10px 0px;
          p {
            font-size: 1.2em;
          }
          p::after {
            left: 1%;

            border-bottom: 1px solid greenyellow;
          }
          button {
            opacity: 1;
          }
        }
      }
    }
  }

  .dotBox {
    bottom: -10%;
    border-radius: 5px;
    div {
      padding: 5px 10px;
      font-size: 1.2em;
    }
  }
}
